li{
    padding:1em 2em;
    border-bottom:1px solid rgba(175, 175, 175, 0.226);
    background-color: rgba(248, 248, 248, 0.795);
}

li:hover{
    background-color: rgb(236, 236, 236);
}

li:active{
    background-color: rgb(236, 236, 236);
}


  a{
      text-decoration: none;
      color:black;
  }