.example-icon {
    padding: 0 14px;
  }
  
    .spacer {
    flex: 1 1 auto;
  }

  .hamburger{
      margin-right:5px;

  }
  .navbar, .matMenu{
      top: 0;
      position: fixed;
 
      width: 100%;

  }
  .container{
    position: relative;
    background-color: #cccc;
  }

  .app{
    position: fixed;
    margin-top: 64px;
    width: 100%;
      
  }

  .scrolling-content{
      margin-left:20px;
      margin-top:15px;
      width: 150px;
  }

  .chatContent{
      overflow: scroll;
      height: 100vh;
  }