/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

*{
    margin:0;
    padding:0;
}


#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

.heads{
	background-color: #363F46;
	padding: 10px 25px;
	color: #fff;
	width: 100%;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 500;
  text-transform: uppercase;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #e0e0e0 radial-gradient(circle, transparent 1%, #dddddd 1%) center/15000%;
  }
  .ripple:active {
    background-color: #e9e9e9;
    background-size: 100%;
    transition: background 0s;
  }
  
  